{% extends 'base.html.twig' %}
{% block title %}Catégorie #{{ category }}{% endblock %}

{% block body %}
    <h2>Toutes les séries de la catégorie {{ category}} : </h2>
    {% for program in programs %}
    <div>
        <h3>{{ program.id }}/{{ program.title }}</h3>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { "program_id": program.id }) }}">Voir la fiche</a>
    </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}


    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>

{% endblock %}