{% extends 'base.html.twig' %}

{% block title %}All Seasons{% endblock %}

{% block body %}
    <h1>Toutes les saisons de la Série {{ program.title }}</h1>
        <div>
            {% for season in seasons %}
                <li>
                    <h5>saison {{ season.number }} - {{ season.year }} - Description : {{ season.description }}</h5>
                    <a href="{{ path("program_season_episode", { "program_id": program.id, "season_number": season.number}) }}">Voir les épisodes</a>
                </li>
            {% endfor %}
        </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}