{% extends 'base.html.twig' %}

{% block title %}All Seasons{% endblock %}

{% block body %}
    <h1>Toutes les saisons de la Série {{ program.title }}</h1>
        <div>
            {% for episode in episodes %}
                <li>
                    <h5>{{ episode.number }} - {{ episode.title }} - Synopsis : {{ episode.synopsis }}</h5>
                    <a href="{{ path("program_season_episode", { "program_id": program.id, "season_number": season.number, "episode_number": episode.number }) }}">Voir l'épisode</a>
                </li>
            {% endfor %}
        </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}