{% extends 'base.html.twig' %}

{% block title %}All Episodes{% endblock %}

{% block body %}
    <h1>Toutes les épisodes de la Saison {{ seasonID }}</h1>
    {% for episode in episodes %}
        <div>
            <h5>{{ episode.number }} - {{ episode.title }}</h5>
            <p>{{ episode.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
        </div>
    {% else %}
        Aucun épisode trouvé.
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des séries
    </a>
{% endblock %}