{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ program.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}">back to list</a>

    <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>

    {{ include('season/_delete_form.html.twig') }}

    <div>
        {% for episode in episodes %}
            <li>
                <h5>{{ episode.id }} - {{ episode.title }} - Synopsis : {{ episode.synopsis }}</h5>
                <a href="{{ path("program_season_episode", { "programSlug": program.slug, "season_number": season.number, "episodeSlug": episode.slug }) }}">Voir l'épisode</a>
            </li>
        {% endfor %}
    </div>

{% endblock %}
