{# templates/program/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h2>Toutes les séries de la table program : </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Search</button>
    {{ form_end(form) }}
    {% for program in programs %}
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <h6 class="card-text">Catégorie: {{ program.category.name }}</h6>
                <h6 class="card-text">{{ program.summary }}</h6>
                <a href="{{ path("program_show", { programSlug: program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
            </div>
        </div>
            {# <h3>{{ loop.index }} / {{ program.title }}</h3>
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <p>Catégorie : {{ program.category.name }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            #}
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}