{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <a href="{{ path("program_season_show", { "program_id": program.id }) }}">Voir toutes les saisons</a>
            {# <ul>
                 {% for season in seasons %}
                    <li>
                        <h5>saison {{ season.number }} - {{ season.year }} - Description : {{ season.description }}</h5>
                        <a href="{{ path("program_season", { "season": season.number }) }}">Voir les épisodes</a>
                    </li>
                {% endfor %}
            </ul> #}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}