{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h2>Tous les acteurs de la table actor : </h2>

    {% for actor in actors %}
        <div>
            {% if(actor.updatedAt) %}
                <p>{{ loop.index }} / {{ actor.name }} <img class="card-img-top" src="/uploads/{{ actor.poster }}"
                                                        alt="{{ actor.poster }}"></p>
            {% else %}
                <p>{{ loop.index }} / {{ actor.name }} <img class="card-img-top" src="{{ actor.poster }}"
                                                            alt="{{ actor.poster }}"></p>
            {% endif %}
            <a href="{{ path("actor_show", { "actor_id": actor.id }) }}">Voir sa filmographie</a>
            <a href="{{ path("actor_edit", { "actor_id": actor.id }) }}">Modifier</a>
        </div>
    {% else %}
        Aucune acteur trouvé.
    {% endfor %}

    <a class="link-return" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
