<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn-primary btn-lg" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Program
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("program_index") }}">All program</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn-primary btn-lg" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/categories/">All</a>
                    <a class="dropdown-item" href="/categories/Action">Action</a>
                    <a class="dropdown-item" href="/categories/Aventure">Aventure</a>
                    <a class="dropdown-item" href="/categories/Animation">Animation</a>
                    <a class="dropdown-item" href="/categories/Horreur">Horreur</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn-primary btn-lg" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                </div>
            </li>
            {# <li class="nav-item">
                <a class="nav-link btn-primary btn-lg" href="#">Favoris</a>
            </li> #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn-primary btn-lg" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("program_new") }}">Add program</a>
                    <a class="dropdown-item" href="{{ path("category_new") }}">Add new Categorie</a>
                    <a class="dropdown-item" href="{{ path("season_index") }}">All season</a>
                    <a class="dropdown-item" href="{{ path("season_new") }}">Add new season</a>
                    <a class="dropdown-item" href="{{ path("episode_index") }}">All episode</a>
                    <a class="dropdown-item" href="{{ path("episode_new") }}">Add new Episode</a>
                    <a class="dropdown-item" href="{{ path("comment_index") }}">All comments</a>
                </div>
            </li>
        </ul>
        <div>
            {% if app.user %}
                <li class="nav-item connect">
                {{ app.user.email }}
                <a class="nav-link btn-primary btn-lg" href="{{ path('app_logout') }}"> Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item connect">
                <a class="nav-link btn-primary btn-lg" href="{{ path('app_login') }}"> Se connecter</a>
                </li>
            {% endif %}
        </div>
        <div>
            {% if app.user %}
                <li class="nav-item connect">
                    <a class="nav-link btn-primary btn-lg" href="{{ path('my_profile') }}"> Mon compte</a>
                </li>
            {% else %}
                <li class="nav-item connect">
                    <a class="nav-link btn-primary btn-lg" href="{{ path('app_register') }}"> Créer un compte</a>
                </li>
            {% endif %}
        </div>
    </div>
</nav>